*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #EEC4C4;
    color: #FF5D5D;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.title {
    color:#2F8F9D;
    font-weight: bold;
}

